@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3> Medical Record Management App</h3>
    <p>You can start record information <a class="btn btn-success btn-sm" asp-area="" asp-controller="Doctor" asp-action="Index">here!</a></p>
</div>
